<header>
  <div class="container-fluid">
    <div class="row p-3 align-items-center">
      <div class="col-lg-8 col-sm-6 col-12 text-center">
        <a class="bi-balloon-heart nav-link fs-2 fst-italic" routerLink="/user"><strong>Phone Repair Service</strong></a>
      </div>
      <div class="col-lg-4 col-sm-4 col-12 text-center">
        <button *ngIf="!flag" class="btn btn-primary" type="button" routerLink="/login">Sign in</button>
        <button *ngIf="flag" class="btn btn-primary" (click)="logOut()">Log Out</button>
      </div>
    </div>
  </div>
</header>
<div class="container-fluid" style="background-color: gainsboro">
  <router-outlet></router-outlet>
</div>
<notifier-container></notifier-container>
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col p-5">
        <p>Здесь информация о компании и прочих услуг!</p>
      </div>
    </div>
  </div>
</footer>
